@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Open+Sans:wght@300;400&display=swap');

html {
  color: #212529;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  overflow-x: hidden;
}

p, ul li {
  font-family: 'Open Sans', sans-serif;
  color: #9B9B9B;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
}

a {
  color: #BD1550;
}

a:hover {
  color: #A81548;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-brand span {
  font-family: 'Asap', sans-serif;
}

.footer {
  background-color: white;
}

.footer h2 {
  color: #231B53;
}

.footer .lead {
  color: #9B9B9B;
}

.footer .lead a {
  color: #BD1550;
  font-family: 'Asap', sans-serif;
  font-weight: 400;
}

.footer .copyright {
  font-size: 13px;
}

.footer .copyright h4 {
  color: #231B53;
}

.footer-caps {
  padding: 80px 20px;
}
.footer-caps p a {
  color: #FFC259;
  text-transform: uppercase;
}

.footer-caps p a:hover {
  color: #BD1550;
  text-transform: uppercase;
}

/* ==========================================================================
   Page classes
   ========================================================================== */
.banner-right {
  position: absolute;
}

.home-grey-left {
  background: url(/home-b-grey-left.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.home-grey-right-b {
  background: url(/home-b-grey-right.png) no-repeat center right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.agency-more {
  background: url(/agency-more.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.agency {
  background: url(/left-grey.png) no-repeat center right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.work-grey {
  background: url(/work-grey.png) no-repeat top center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.more-serv-grey {
  background: url(/more-serv-grey.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.brand-grey-l {
  background: url(/brand-grey-l.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.brand-grey-r {
  background: url(/brand-grey-r.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.ui-grey {
  background: url(/ui-grey.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.purple-right {
  background: url(/purple-left.png) no-repeat center right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.p-shape {
  background: url(/p-shape.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.pink-shape {
  background: url(/pink-shape.png) no-repeat center left;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.purple-dots {
  background: url(/purple-dots.png) no-repeat center right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.grey-long {
  background: url(/long-grey.png) no-repeat center right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.grey-right {
  background: url(/grey-right.png) no-repeat center right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.yellow-left {
  background: url(/yellow-left.png) no-repeat center left;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.black-dots {
  background: url(/black-dots.png) no-repeat center left;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.sub-title {
  color: #BD1550 !important;
}

.lead {
  color: #9B9B9B;
}

.txt-overly {
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




      /* ==========================================================================
   Bg classes
   ========================================================================== */

.bg-p {
  background-color: #231B53;
}

.bg-pink {
  background-color: #BD1550;
}

.bg-grey {
  background-color: #F8F8F8;
}

.bg-yellow {
  background-color: #FFC259;
}

.bg-black {
  background-color: #212529;
}


.txt-y {
  color: #FFC259;
}

.txt-pink {
  color: #BD1550;
}

   /* ==========================================================================
   Button classes
   ========================================================================== */

.btn-pink {
  color: white !important;
  text-transform: capitalize;
  background-color: #BD1550;
  border-radius: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-pink:hover {
  background-color: #A81548;
}

.btn-purple {
  color: white !important;
  text-transform: capitalize;
  background-color: #231B53;
  border-radius: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-purple:hover {
  background-color: #1A124A;
}

.btn-purple-o {
  color: #231B53 !important;
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 50px;
  border-color: #231B53;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-purple-o:hover {
  background-color: #1A124A;
  border-color: #1A124A;
  color: white !important;
}

.btn-y {
  color: white !important;
  text-transform: capitalize;
  background-color: #FFC259;
  border-radius: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-y:hover {
  background-color: #E3AD50;
}

.btn-y-o {
  color: #FFC259 !important;
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 50px;
  border-color: #FFC259;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-y-o:hover {
  background-color: #E3AD50;
  border-color: #E3AD50;
  color: white !important;
}



/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
